/* For Mobile  */
@media only screen and (max-width: 480px) {
     .container {
          width: 100% !important;
     }

     .content {
          padding: 0 !important;
     }

     .content-wrap {
          padding: 10px !important;
     }

     .invoice {
          width: 100% !important;
     }
}